<%= form_for [@project, @time_invoice] do |f|%>
  <% if @time_invoice.errors.any? %>

    <h2><%= pluralize(@time_invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>
    <ul>
      <% @time_invoice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <h3><%= @project.name %></h3><br/>
  <p> <%=f.label :start_date %><br/>
    <%=f.date_select :start_date, disabled: false, default: (Date.today-1.month).beginning_of_month%>
  </p>
  <p>
    <%=f.label :end_date%><br/>
    <%=f.date_select :end_date, disabled: false, default: (Date.today-1.month).end_of_month%>
  </p>
  <%=  f.hidden_field :submitted_by_id, :value=> nil%>
  <%=  f.hidden_field :project_id, :value=> @project.id%>
  <p>
    <%= f.label :comment %><br/>
    <%=f.text_area :comment, :size => "60x3"%>
  </p>
  <p>
    <%= f.submit %>
  </p>
<%end%>
