<h2>New time invoice</h2>
<div class="box tabular">
  <%= form_for [@project, @time_invoice] do |f|%>
    <% if @time_invoice.errors.any? %>

      <% flash.now[:error] = "#{pluralize(@time_invoice.errors.count, "error")} prohibited
    this invoice from being saved: <br/>" %>
      <ul>
        <% @time_invoice.errors.full_messages.each do |msg| %>
          <% flash.now[:error] += "<li>#{msg}</li>" %>
        <% end %>
      </ul>
    <% end %>
    <h3><%= @project.name %></h3><br/>
    <p> <%= f.label :start_date %><br/>
      <%= f.text_field :start_date%>
      <%= calendar_for 'time_invoice_start_date'%>
    </p>
    <p>
      <%= f.label :end_date%><br/>
      <%= f.text_field :end_date%>
      <%= calendar_for 'time_invoice_end_date'%>
    </p>
    <%=  f.hidden_field :submitted_by_id, :value=> nil%>
    <%=  f.hidden_field :project_id, :value=> @project.id%>
    <p>
      <%= f.label :comment %><br/>
      <%= f.text_area :comment, :size => "60x3"%>
    </p>
  </div>
  <p>
    <%= f.submit %>
  </p>
<%end%>
