<strong><%= "#{@time_invoice.submitted_by.name}"%></strong> has submitted <strong><%= "Invoice: #{@time_invoice.id}"%></strong> with <strong><%= "Date Range: #{@time_invoice.start_date} - #{@time_invoice.end_date}"%></strong> for <strong><%= "Project: #{@time_invoice.project}"%></strong>
<br/>
<strong><%='Remarks:'%></strong><%=@time_invoice.comment%>
<table border="1">
  <%time_invoice_detail=@time_invoice.time_invoice_details%>
  <tr>
    <th>User</th>
    <th>Logged hours</th>
    <th>Invoiced hours</th>
    <th>comments</th>
  </tr>
  <%time_invoice_detail.each do |details|%>
    <tr>
      <td><%=details.user.name%></td>
      <td><%=details.logged_hours%></td>
      <td><%=details.invoiced_hours%></td>
      <td><%=details.comment%></td>
    </tr>
  <%end%>
</table>
