<h2> Time Invoices Report Results </h2>

<% puts "#{'*'*80}\nChecking value of time invoices #{@time_invoice_details}\n#{'*'*80}"%>
<% render 'options' %><br/><br/>

<% if @time_invoice_details.nil? ||  @time_invoice_details.empty? || @time_invoice_details.blank?%> <!--  Idher user_time_invoices aye ga -->
<% flash[:error] = 'No Results Found!' %>
<% else %>

<table border="1">
  <tbody>
    <tr align="left">
      <th>Invoice ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Invoice Owner</th>
      <th>Project ID</th>
      <th>Remarks</th>
      <th>Action</th>
    </tr>



    <% @time_invoice_details.each do |time_invoice_details| %>
    <%time_invoice = time_invoice_details.time_invoice%>
      <tr align="left" class="<%= cycle("odd", "even")%>">
        <td><%= time_invoice.id%></td>
        <td><%= time_invoice.start_date %></td>
        <td><%= time_invoice.end_date %></td>
        <td><%=  time_invoice.submitted_by && time_invoice.submitted_by.name%></td>
        <td><%= time_invoice.project.name %></td>
        <td><%= time_invoice.comment %></td>


        <%if time_invoice.submitted_by %>
          <td>
            <%=  link_to 'View', time_invoice%>
          </td>
        <%else%>
          <td>
            <%=  link_to 'Edit/Submit', edit_time_invoice_path(time_invoice) %>
          </td>
        <%end%>

  <%# if User.current.admin? %>
  <%#*<td>%>
  <%#= link_to 'Edit', edit_user_leafe_path(time_invoice_report) %>
  <%#= link_to 'Delete', user_leafe_path(time_invoice_report),
  method: :delete, data: { confirm: 'Are you sure?' }%>
  <%#*</td>%>
  <%# end %>
      </tr>
 

  
  <tr></tr>
  <tr><td>
      <% other_formats_links do |f| %>
          <%= f.link_to 'Atom', :url => {:key => User.current.rss_key} %>
          <%#= f.link_to 'CSV', :url => params, :onclick => "showModal('csv-export-options', '330px'); return false;" %>
          <%= f.link_to 'CSV', {controller: :time_invoice_reports, action: :report, params: params, format: :csv} %>
          <%= f.link_to 'PDF', :url => params %>
          
        <% end %>
  
      <%#= link_to 'Show', time_invoice_report_path(time_invoice_report_id)%>
       <%= link_to 'Download CSV', {controller: :time_invoice_reports, action: :report, params: params, format: :csv}%>
      <%= stylesheet_link_tag 'application', :media => "all" %>
      <%= link_to 'Download Pdf', {controller: :time_invoice_reports, action: :report, params: params, format: :pdf}%>
     
    

      
        <% content_for :header_tags do %>
          <%= auto_discovery_link_tag(:atom, {:format => 'atom', :key => User.current.rss_key},
            :title => "#{time_invoice.id} - #{time_invoice.start_date}
          ##{time_invoice.end_date}: #{time_invoice.submitted_by.name}:
        #{time_invoice.project.name}: #{time_invoice.comment}") %>
        <% end %>
      
    <% end%>     
 </td></tr>
  
   </tbody> 
</table>

<%#*<!-- Generate Reports in SCV, pdf, atom Issue Display page-->%>

<% end %>  