<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'timeinvoice-menu', :plugin => 'redmine_time_invoices' %>
  <% end %>

<%if @show_menu%>
<div id="timeinvoice-menu">
     <%= render_menu(:time_invoices_menu)%>
</div>
<%end%>

<% logger.debug "#{'*'*80}\nChecking value of time invoices #{@time_invoice_details}\n#{'*'*80}"%>
<%if @show_options%>
<%= render 'options' %><br/><br/>
<%end%>

<br/><br/>
<div class="box tabular" style= "display:inline-block">

<% unless @time_invoice_details.nil? ||  @time_invoice_details.empty? || @time_invoice_details.blank?%> <!--  Previously user_time_invoices aye ga -->

 <h2> Time Invoices Report Results </h2>
  <table border="1">

    <tbody>
      <tr align="left">
        <th align="center">Invoice ID</th>
        <th align="center">Start Date</th>
        <th align="center">End Date</th>
        <th align="center">Invoice Submitter</th>
        <th align="center">Project Title</th>
        <th align="center">Remarks</th>
        <th align="center">Invoice User</th>
        <th align="center">Logged Hours</th>
        <th align="center">Invoiced Hours</th>
      </tr>



      <% @time_invoice_details.each do |time_invoice_details| %>
        <%time_invoice = time_invoice_details.time_invoice%>
        <tr align="left" class="<%= cycle("odd", "even")%>">
          <td align="center"><%= time_invoice.id%></td>
          <td align="center"><%= time_invoice.start_date %></td>
          <td align="center"><%= time_invoice.end_date %></td>
          <td align="center"><%=  time_invoice.submitted_by && time_invoice.submitted_by.name%></td>
          <td align="center"><%= link_to time_invoice.project.name,project_path(time_invoice.project.id) %></td>
          <td align="center"><%= time_invoice.comment %></td>
          <td align="center"><%= link_to time_invoice_details.user,user_path(time_invoice_details.user.id) %></td>
          <td align="center"><%= time_invoice_details.logged_hours %></td>
          <td align="center"><%= time_invoice_details.invoiced_hours%></td>



        </tr>

       <tr></tr>  
       
        <% end%> 
        <!-- Generate Reports in SCV, pdf, atom Issue Display page-->     
        <tr>
          <td colspan="10" align="right">
            <% other_formats_links do |f| %>
              <%= f.link_to 'Atom', :url => params.merge(:key => User.current.rss_key) %>
              <%= f.link_to 'CSV', :url => params %>
              <%= f.link_to 'PDF', :url => params %>

            <% end %>
             
        </td>
        </tr>

    </tbody> 
  </table>

</div>

<% end %>  

            <!-- Alternate Way -->      
    <%#= link_to 'Download CSV', {controller: :time_invoice_reports, 
                                action: :report, params: params, format: :csv}%>
    <%#= stylesheet_link_tag 'application', :media => "all" %>
    <%#= link_to 'Download PDF', {controller: :time_invoice_reports,
                                action: :report, params: params, format: :pdf}%>