<h2> Time Invoices Report Results </h2>

<% logger.debug "#{'*'*80}\nChecking value of time invoices #{@time_invoice_details}\n#{'*'*80}"%>
<% render 'options' %><br/><br/>

<% unless @time_invoice_details.nil? ||  @time_invoice_details.empty? || @time_invoice_details.blank?%> <!--  Previously user_time_invoices aye ga -->

  <table border="1">

    <tbody>
      <tr align="left">
        <th align="center">Invoice ID</th>
        <th align="center">Start Date</th>
        <th align="center">End Date</th>
        <th align="center">Invoice Owner</th>
        <th align="center">Project Title</th>
        <th align="center">Remarks</th>
        <th align="center">Action</th>
      </tr>



      <% @time_invoice_details.each do |time_invoice_details| %>
        <%time_invoice = time_invoice_details.time_invoice%>
        <tr align="left" class="<%= cycle("odd", "even")%>">
          <td align="center"><%= time_invoice.id%></td>
          <td align="center"><%= time_invoice.start_date %></td>
          <td align="center"><%= time_invoice.end_date %></td>
          <td align="center"><%=  time_invoice.submitted_by && time_invoice.submitted_by.name%></td>
          <td align="center"><%= time_invoice.project.name %></td>
          <td align="center"><%= time_invoice.comment %></td>


          <%if time_invoice.submitted_by %>
            <td align="center">
              <%=  link_to 'View', time_invoice%>
            </td>
          <%else%>
            <td align="center">
              <%=  link_to 'Edit/Submit', edit_time_invoice_path(time_invoice) %>
            </td>
          <%end%>

        </tr>

       <tr></tr>  
       
        <% end%> 
        <!-- Generate Reports in SCV, pdf, atom Issue Display page-->     
        <tr>
          <td colspan="7" align="right">
            <% other_formats_links do |f| %>
              <%= f.link_to 'Atom', :url => params.merge(:key => User.current.rss_key) %>
              <%= f.link_to 'CSV', :url => params %>
              <%= f.link_to 'PDF', :url => params %>

            <% end %>
             
        </td>
        </tr>

    </tbody> 
  </table>



<% end %>  

            <!-- Alternate Way -->      
    <%#= link_to 'Download CSV', {controller: :time_invoice_reports, 
                                action: :report, params: params, format: :csv}%>
    <%#= stylesheet_link_tag 'application', :media => "all" %>
    <%#= link_to 'Download PDF', {controller: :time_invoice_reports,
                                action: :report, params: params, format: :pdf}%>